{% extends 'base.html' %}
{% block content %}
<h2>{{ recipe.recipename }}</h2>
<img src= "{{ recipe.image.url }}" width="300px" height="300px">
<br/><br/>

<p>Added by: {{ recipe.user }}</p>
<p>Description: {{ recipe.recipedescription }}</p>
<p>Instructions: {{ recipe.recipeinstruction }}</p>
<p>Difficulty: {{ recipe.difficulty }}</p>
<p>Serving Size: {{ recipe.servingsize }}</p>
<p>Preparation Time: {{ recipe.preptime }}</p>
<p>Cook Time: {{ recipe.cooktime }}</p>
<p>Total Time: {{ recipe.totaltime }}</p>

{% for dietarytype in recipe.dietary.all %}
    <p>Dietary : {{ dietarytype }}</p>
{% endfor %}
{% for cuisinename in recipe.cuisine.all %}
    <p>Cuisine: {{ cuisinename }}</p>
{% endfor %}
{% for dishtypename in recipe.dishtype.all %}
    <p>Dish Type: {{ dishtypename }}</p>
{% endfor %}
{% for occassiontype in recipe.occassion.all %}
    <p>Occassion: {{ occassiontype }}</p>
{% endfor %}
<p>No. Of Reviews: {{ reviews }}</p>

{% endblock %}